body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1; /* Lighter background for contrast */
    color: #333;
    line-height: 1.6;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Adjusted for full height */
}

.layout-header {
    background-image: linear-gradient(to bottom right, #41cc99, #369c39); /* Gradient from light green to dark green */
    color: white;
    padding: 15px 20px; /* Reduced padding for a smaller header */
    text-align: center;
    font-size: 1.5rem; /* Reduced font size */
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow below header */
}


.layout-content {
    flex: 1;
    padding: 1.5rem; /* Reduced padding for content area */
    background-color: rgb(0, 0, 0);
    border-radius: 8px; /* Rounded corners for content area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for content */
    font-size: 1rem;
}

.layout-footer {
    background-image: linear-gradient(to bottom right, #2e8b57, #1f6f47); /* Gradient from current green to darker green */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem; /* Slightly larger text for readability */
    /*border-top: 3px solid #45a049; /* Highlighted footer edge */
}


a {
    color: #4caf50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #45a049;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;
}

p {
    margin: 0.5rem 0;
    color: #ffffff;
}
